.dashboardMain {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    flex-grow: 1;

    height: 100vh;

    gap: 1rem;
    padding: 2rem;
}

.paymentsHeader {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
}

.financialBtns {    
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;

    gap: 1rem;
}

.addDataBtn {
    width: 100%;
}

.paymentsFilters {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    align-self: flex-start;

    gap: 1rem;
}

.paymentBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;

    padding: 1rem;
}

.balanceDataContainer {
    width: 100% ;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items:  center;

    gap: 0.5rem;
}

.balanceTitle {
    width: 100%;

    font-weight: bolder;
}

.balanceText {
    font-weight: bolder;
}

.positiveNum {
    color: green;
}

.negativeNum {
    color: red;
}

@media screen and (max-width: 700px) {
    .dashboardHeaderContainer {
        width: 100%;
        height: fit-content;

        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .dashboardNav {
        flex-flow: row nowrap;
    }
}