.homeMain {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    width: 100%;

    background-image: url('../../../assets/homebackground.jpg');
    background-size: cover;
    background-position: center;

    height: 100vh
}

h1{
    color: #254D70;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
}