.paymentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.2rem;
  
  background-color: whitesmoke;
  border-color: whitesmoke;
  border-radius: 8px;
}

.paymentDate {
  color: grey;
  font-weight: bolder;
}

.btnContainer {
  display: flex;
  gap: 0.7rem;
}
