.paymentContainer {
  padding: 0.6rem;

  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

.paymentContainer:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.paymentSummary {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;

  gap: 0.6rem;
}

.paymentSummaryData1 {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paymentSummaryData2 {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paymentTitle {
  flex: 1;

  text-align: left;
}

.paymentDesription {
  flex: 2;

  text-align: left;
}

.paymentAmount {
  flex: 1;

  font-weight: bolder;
}

.paymentDate {
  flex: 1;

  color: grey;
  font-weight: bolder;
}

.btnContainer {
  flex: 1;

  display: flex;
  justify-content: flex-end;

  gap: 0.6rem;
}

.paymentDetails {
  padding: 0.6rem;
}
