* {
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 5px solid orange;
}

body {
  width: 100%;

  background-color: whitesmoke;
}

#root {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0.6em 1.2em;

  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;

  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #254d70;
}

.backBtn {
  background-color: white;
  border-color: #254d70;
  color: #254d70;
}

.backBtn:hover {
  background-color: #254d70;
  color: white;
}

input,
textarea,
select,
dialog {
  border-radius: 8px;
  border: 1px solid #ced4da;
}

input,
textarea {
  min-width: 300px;
  font-size: 14px;
}
