*{
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  
  background-color: whitesmoke;
}

#root{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button {
  border: 1px solid transparent;
  border-radius: 8px;

  padding: 0.6em 1.2em;

  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #254D70;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



